extends ./lib/layout.pug
block prepend site
    -var title = 'Anasayfa';
    -var bodyClass = 'home'
block content
    .container
        #carouselExampleControls.carousel.slide(data-ride='carousel').mt-5.mb-5
            .carousel-inner
                .carousel-item.active
                    img.d-block.w-100(src='https://via.placeholder.com/1110x225/007bff/fff/?text=slide' alt='...')
                .carousel-item
                    img.d-block.w-100(src='https://via.placeholder.com/1110x225/28a745/fff/?text=slide2' alt='...')
                .carousel-item
                    img.d-block.w-100(src='https://via.placeholder.com/1110x225/e83e8c/fff/?text=slide3' alt='...')
            a.carousel-control-prev(href='#carouselExampleControls' role='button' data-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                span.sr-only Previous
            a.carousel-control-next(href='#carouselExampleControls' role='button' data-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                span.sr-only Next

    .album.py-5.bg-light
        .container
            .row
                .col-md-4
                    .card.mb-4.box-shadow
                        img.card-img-top(src='https://via.placeholder.com/1000x600/EEE/CCC/?text=github.com/zavaremre')
                        .card-body
                            p.card-text
                            | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                            .d-flex.justify-content-between.align-items-center
                                .btn-group
                                    button.btn.btn-sm.btn-outline-secondary(type='button') Read More
                                    button.btn.btn-sm.btn-outline-secondary(type='button') Edit
                                small.text-muted 9 mins
                .col-md-4
                    .card.mb-4.box-shadow
                        img.card-img-top(src='https://via.placeholder.com/1000x600/EEE/CCC/?text=github.com/zavaremre')
                        .card-body
                            p.card-text
                            | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                            .d-flex.justify-content-between.align-items-center
                                .btn-group
                                    button.btn.btn-sm.btn-outline-secondary(type='button') Read More
                                    button.btn.btn-sm.btn-outline-secondary(type='button') Edit
                                small.text-muted 9 mins
                .col-md-4
                    .card.mb-4.box-shadow
                        img.card-img-top(src='https://via.placeholder.com/1000x600/EEE/CCC/?text=github.com/zavaremre')
                        .card-body
                            p.card-text
                            | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                            .d-flex.justify-content-between.align-items-center
                                .btn-group
                                    button.btn.btn-sm.btn-outline-secondary(type='button') Read More
                                    button.btn.btn-sm.btn-outline-secondary(type='button') Edit
                                small.text-muted 9 mins
                .col-md-4
                    .card.mb-4.box-shadow
                        img.card-img-top(src='https://via.placeholder.com/1000x600/EEE/CCC/?text=github.com/zavaremre')
                        .card-body
                            p.card-text
                            | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                            .d-flex.justify-content-between.align-items-center
                                .btn-group
                                    button.btn.btn-sm.btn-outline-secondary(type='button') Read More
                                    button.btn.btn-sm.btn-outline-secondary(type='button') Edit
                                small.text-muted 9 mins
                .col-md-4
                    .card.mb-4.box-shadow
                        img.card-img-top(src='https://via.placeholder.com/1000x600/EEE/CCC/?text=github.com/zavaremre')
                        .card-body
                            p.card-text
                            | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                            .d-flex.justify-content-between.align-items-center
                                .btn-group
                                    button.btn.btn-sm.btn-outline-secondary(type='button') Read More
                                    button.btn.btn-sm.btn-outline-secondary(type='button') Edit
                                small.text-muted 9 mins
                .col-md-4
                    .card.mb-4.box-shadow
                        img.card-img-top(src='https://via.placeholder.com/1000x600/EEE/CCC/?text=github.com/zavaremre')
                        .card-body
                            p.card-text
                            | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                            .d-flex.justify-content-between.align-items-center
                                .btn-group
                                    button.btn.btn-sm.btn-outline-secondary(type='button') Read More
                                    button.btn.btn-sm.btn-outline-secondary(type='button') Edit
                                small.text-muted 9 mins
                .col-md-4
                    .card.mb-4.box-shadow
                        img.card-img-top(src='https://via.placeholder.com/1000x600/EEE/CCC/?text=github.com/zavaremre')
                        .card-body
                            p.card-text
                            | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                            .d-flex.justify-content-between.align-items-center
                                .btn-group
                                    button.btn.btn-sm.btn-outline-secondary(type='button') Read More
                                    button.btn.btn-sm.btn-outline-secondary(type='button') Edit
                                small.text-muted 9 mins
                .col-md-4
                    .card.mb-4.box-shadow
                        img.card-img-top(src='https://via.placeholder.com/1000x600/EEE/CCC/?text=github.com/zavaremre')
                        .card-body
                            p.card-text
                            | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                            .d-flex.justify-content-between.align-items-center
                                .btn-group
                                    button.btn.btn-sm.btn-outline-secondary(type='button') Read More
                                    button.btn.btn-sm.btn-outline-secondary(type='button') Edit
                                small.text-muted 9 mins
                .col-md-4
                    .card.mb-4.box-shadow
                        img.card-img-top(src='https://via.placeholder.com/1000x600/EEE/CCC/?text=github.com/zavaremre')
                        .card-body
                            p.card-text
                            | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                            .d-flex.justify-content-between.align-items-center
                                .btn-group
                                    button.btn.btn-sm.btn-outline-secondary(type='button') Read More
                                    button.btn.btn-sm.btn-outline-secondary(type='button') Edit
                                small.text-muted 9 mins
